<h3><%= @host_name %></h3>

<ul>
  <% unless @host_name.ip_addresses.empty? %>
  <li>
    <p>IP Addresses:</p>
    <ul>
      <% @host_name.ip_addresses.each do |ip_address| %>
        <li>
        <%= partial('ip_addresses/ip_address', :object => ip_address) %>
        </li>
      <% end %>    
    </ul>
  </li>
  <% end %>

  <% unless @host_name.email_addresses.empty? %>
  <li>
    <p>Email Addresses:</p>
    <ul>
      <% @host_name.email_addresses.each do |email_address| %>
        <li>
        <%= partial('email_addresses/email_address', :object => email_address) %>
        </li>
      <% end %>    
    </ul>
  </li>
  <% end %>

  <li><span>Created:</span> <%= @host_name.created_at %></li>
</ul>
